<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Telerik specific configuration -->
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <!-- Telerik UI assemblies -->
        <add assembly="Telerik.Web.Mvc, Version=2020.3.1118.0, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>

  <telerik>
    <!-- Telerik web assets configuration -->
    <webAssets>
      <scriptSources>
        <add name="cdn" path="//kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js" />
      </scriptSources>
      <styleSources>
        <add name="cdn" path="//kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default-v2.min.css" />
      </styleSources>
    </webAssets>
  </telerik>
</configuration>
